################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SDL_Decisions/.vs/SDL_Planning/v15/ipch/AutoPCH
